<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("unicorn.svg", height: "32", class: "svg") %>
          <b>Для стартапов</b>
        </h4>
        <ul>
          <li>Найдите сооснователя или подходящего Вам сотрудника</li>
          <li>Расскажите миру о себе</li>
          <li>Размещайте вакансии абсолютно <b>бесплатно</b></li>
        </ul>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <a href="#" class="btn btn-default">Разместить вакансию</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("brain.svg", height: "32", class: "svg") %>
          <b>Для талантов</b>
        </h4>
        <ul>
          <li>Выберите лучшего работодателя в интересующей Вас сфере</li>
          <li>Узнайте о технологиях, которые применяют компании</li>
          <li>Найдите команду своей мечты</li>
        </ul>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <a href="#" class="btn btn-default">Найти работодателя</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("fire.svg", height: "32", class: "svg") %>
          <b>Яркие вакансии</b>
        </h4>
        <ul>
          <li>Ярких вакансий пока нет</li>
        </ul>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <a href="#" class="btn btn-default">Добавить яркую вакансию</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Небоскреб -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-4781807254291126"
         data-ad-slot="6023461897"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-3">
            <input type="text" class="form-control" placeholder="Ваш email">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-default">Узнать больше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
