<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("unicorn.svg", height: "32", class: "svg") %>
          <b>Для стартапов</b>
        </h4>
        <ul>
          <li>Найдите сооснователя или подходящего Вам сотрудника</li>
          <li>Расскажите миру о себе</li>
          <li>Размещайте вакансии абсолютно <b>бесплатно</b></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("brain.svg", height: "32", class: "svg") %>
          <b>Для талантов</b>
        </h4>
        <ul>
          <li>Выберите лучшего работодателя в интересующей Вас сфере</li>
          <li>Узнайте о технологиях, которые применяют компании</li>
          <li>Найдите команду своей мечты</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("fire.svg", height: "32", class: "svg") %>
          <b>Яркие вакансии</b>
        </h4>
        <ul>
          <li>Ярких вакансий пока нет</li>
        </ul>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          <%= image_tag("intrigued.svg", height: "32", class: "svg") %>
          <b>Интересно?</b>
        </h4>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-default" data-toggle="collapse" data-target="#secret">Узнать больше</button>
          </div>
          <div id="secret" class="col-sm-4 col-sm-offset-4 collapse">
            <a href="mailto:roman@workinstartup.ru">roman@workinstartup.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Квадрат -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:280px"
         data-ad-client="ca-pub-4781807254291126"
         data-ad-slot="9652026699"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
